@import "_fonts"

$green: #259B9A
$blue: #0D9EDF
$yellow: #FDC525
$black: #1E1B18
$helvetica: 'Helvetica'
$georia: 'Georgia'

$minWidth: 320px
$maxWidth: 1920
$maxWidthContainer: 1110
$md1: $maxWidthContainer + 12
$md2: 991
$md3: 767
$md4: 479
$md5: 1824

