@import "_variables"
@import "_mixins"
/*Footer*/

a
    text-decoration: none
    color: $black
.footer
    display: flex
    flex-direction: row
    justify-content: space-between
    color: white
    padding: 48px 0
    &__wrapper
        background-color: $blue
    &__header 
        +header(bold, 18px, 21px, 1.16471px, uppercase, $black)
    &__btn
        +btn($yellow, white, 255px, 51px)
        color: $black !important
        font-style: bold 
        &:hover
            +btnHover($black, white !important)
    &__icons
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        a
            font-size: 24px
    &__company-name
        display: flex
        flex-direction: column
        justify-content: space-evenly
    &__recources
        @extend %flex-space-between
    &__office-hours 
        @extend %flex-space-between
    &__contact-us 
        @extend %flex-space-between
    &__info
        @extend %flex-space-between
    &__info-item
        +text(normal, normal, 14px, 27px, 0.905882px, white)
        text-align: center
        &_bold
            font-weight: bold

%flex-space-between
    display: flex
    flex-direction: column
    justify-content: space-between