@font-face 
    font-family: 'icons'
    src:  url('/fonts/icons.eot?xlvnxk')
    src:  url('/fonts/icons.eot?xlvnxk#iefix') format('embedded-opentype'), url('/fonts/icons.ttf?xlvnxk') format('truetype'), url('/fonts/icons.woff?xlvnxk') format('woff'), url('/fonts/icons.svg?xlvnxk#icons') format('svg')
    font-weight: normal
    font-style: normal
    font-display: block

[class^="icon-"]::before, [class*=" icon-"]::before 
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important
    speak: never
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    font-size: 1.5rem


.icon-facebook:before 
    content: "\e900"
    color: #fdc525

.icon-instagram:before 
    content: "\e901"
    color: #fdc525

.icon-twitter:before 
    content: "\e902"
    color: #fdc525