@import "_variables"
@import "_mixins"
    
/*Name Block*/

.name-block 
    min-height: 303px
    background-color: $green
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    &__header
        +header(bold, 48px, 62px, 3.10588px, uppercase, white)