@import "null"
@import "_variables"
@import "_mixins"

.html
    font-size: 10px

.wrapper
    width: 100%
    min-height: 100%
    overflow: hidden
    diplay: flex
    flex-direction: column

/*Container sheet*/

.container
    max-width: $maxWidthContainer + px
    margin: 0 auto
    @media(min-width: $md5 + px)
        max-width: 1500px
    @media(max-width: $md1 + px)
        max-width: 970px     
    @media(max-width: $md2 + px)
        max-width: 700px
        +formSmaller
        .hide
            display: none
        .footer
            justify-content: space-evenly
            align-items: center
            &__icons
                width: 150px
        .service
            margin-top: -80px
            &__first
                flex-direction: column
            &__description
                width: 100%
            &__header
                text-align: right
                &_second
                  text-align: center  
    @media(max-width: $md3 + px)
        max-width: 500px
        .footer
            &__btn
                display: none
        .first-block
            &__info
                flex-direction: column
            &__form
                margin-top: 50px
    @media(max-width: $md4 + px)
        max-width: none
        padding: 0 20px
        .first-block
            &__info
                flex-direction: column
                margin-bottom: -50px
            &__form
                display: none