@import "null"
@import "_variables"
@import "_mixins"

.html
    font-size: 10px

.wrapper
    width: 100%
    min-height: 100%
    overflow: hidden
    diplay: flex
    flex-direction: column

/*Container sheet*/

.container
    max-width: $maxWidthContainer + px
    margin: 0 auto
    @media(max-width: $md1 + px)
        max-width: 970px     
    @media(max-width: $md2 + px)
        max-width: 700px
        .header
            padding: 25px 0
            &__logo
                img
                    min-height: 0
        .nav
            &__btn
                display: none
        +formSmaller
        .footer
            justify-content: space-evenly
            align-items: center
        .service
            &__first
                flex-direction: column
            &__description
                width: 100%
            &__header
                text-align: center
                &_second
                  text-align: center 
            &__img
                display: none 
        .second-subblock
            &__header
                font-size: 36px
        .first-block
            &__info
                flex-direction: column
            &__form
                margin-top: 50px
        .new-patient
            &-first-block
                &__block
                    flex-direction: column
                &__firstsubblock, &__secondsubblock
                    flex-basis: 100%
    @media(max-width: $md3 + px)
        max-width: 500px
        .nav
            &__btn
                display: block
        .footer
            &__btn
                display: none
        .first-subblock, .second-subblock
            flex-direction: column
        .fourth-block
            &__header
                margin: 80px 0 40px 0 
        .first-subblock
            margin-bottom: 60px
            &__info
                width: 100%
            &__img
                width: 100%
                img
                    width: 100%
                    padding: 0
        .second-subblock
            &__header
                margin-bottom: 20px
                width: 100%
                text-align: center
            &__info
                width: 80%
                padding: 25px
                margin: 0 auto
        .header
            &__logo
                width: 68%
            &__left-info
                width: 25%
            &__burger
                width: 7%
            &__icons
                margin-bottom: 0
        .hide-header
            display: none
            //font-size
        .fourth-block__header
            font-size: 48px
        .intro__header
            font-size: 20px
        .name-block__header
            font-size: 40px
    @media(max-width: $md4 + px)
        //font-size
        .intro__header
            font-size: 48px !important
        .header
            &__icons
                display: none
            &__logo
                width: 90%
            &__left-info
                width: 0%
            &__burger
                width: 10%
        max-width: none
        padding: 0 20px
        .first-block
            &__info
                flex-direction: column
                margin-bottom: -50px
            &__form
                display: none
        .about
            &-intro
                &__img
                    img
                        width: 350px
        

