@import "_variables"
@import "_mixins"
    
/*yellow-block*/

.yellow-block
    background-color: $yellow
    margin-bottom: 100px
    &-wrapper
        min-height: 333px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 20px 0
        text-align: center
    &-wrapper__header
        +header(normal, 24px, 42px, 1px, none, white)
        font-size: calc(22px + 2 *(100vw/1440))
        letter-spacing: calc(1px + 2 *(100vw/1440))
        line-height: calc(30px + 12 *(100vw/1440))
    &-wrapper__subheader
        +header(bold, 24px, 23px, 1.55294px, uppercase, $black)
        font-size: calc(16px + 8 *(100vw/1440))
        letter-spacing: calc(1px + 0.5 *(100vw/1440))
        margin: 32px 0
    &-wrapper__btn
        +btn(white, $yellow, 255px, 51px)
        &:hover
            +btnHover($black, white)
